body {
    color: white;
    background-color: black;
    max-height: 850px;
    max-width: 1920px;
    
}

#top-el {
    background-image: linear-gradient(to right, #585DFE , #FB3796);
    height: 300px;
    width: 100%;
    padding-bottom: 50px;
    
    
}

#bot-el {
    background-color: #1F2937;
    height: 699px;
    
}

p {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 50px;
    margin-top: 0;
}

#mass-el {
    padding-bottom: 50px;
}

span {
    display: block;
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
    opacity: 0.5;
}

#metric-el {
    font-size: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

input {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

